<div class="wrapper">
    <h2 class="white-head">{{heading}}</h2>
    <div class="panel-body">
        <p>There are {{totalEntrySlots()}} total entry slots available for racers.</p>
        <p>Cash left to enter races and buy merchandise: ${{cashLeft()}}</p>
    </div>
    <div>
        <ul>
            <li class="panel-body group" *ngFor="let race of races">
                <div class="card ">
                    <img class="photo" [src]="race.image">
                </div>
                <table class="product-info">
                    <tr>
                        <td class="left-col">
                            <h3 class="name">{{race.name | uppercase}}</h3>
                            <p class="date">{{race.date | date:'MMM d, y, h:mm a' }}</p>
                            <p>{{race.about}}</p>
                        </td>
                        <td class="right-col">
                            <div class="quantity">
                                <p class="promotions"><span class="space-right"> Race Tees!</span> {{race.tshirt | currency:'USD':true}}</p>
                                <button class="decrease" (click)="downQuantity(race)">-</button>
                                <input class="text-input" type="text" [(ngModel)]="race.quantity ">
                                <button class="increase " (click)="upQuantity(race) ">+</button>
                            </div>
                            <div class="in-stock ">
                                In stock: {{race.stock}}
                                <!--<p>In stock: {{inStock(race)}}</p>-->
                            </div>
                            <div class="price-quantity ">
                                <p class="entry-fee ">{{race.entryFee | currency:'USD':true}}</p>
                                <button class="color-change " *ngIf="!race.isRacing " (click)="enterRace(race) ">Enter Race</button>
                                <p class="already-racing " *ngIf="race.isRacing ">Already Racing</p>
                            </div>
                        </td>
                    </tr>
                </table>
            </li>
        </ul>
    </div>